html {
	font-family: Verdana, sans-serif;
	background: -webkit-linear-gradient(#FFFFFF, #399AFF, #0009B5);
}

textarea {
	resize: none;
	color: #BBBBBB;
	background: #1E1E1E;
}

.compiler {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 30px;
}

.compile-button {
	font-size: 24px;
	padding: 15px 45px;
	border-radius: 12px;
	background-image: linear-gradient(to right, #399AFF 0%, #0009B5 51%, #399AFF 100%);
	background-color: transparent;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px #EEE;
	background-size: 200% auto;
	transition: 0.5s;
}

.compile-button:hover {
	background-position: right center;
}

.title {
	font-size: 250%;
	background: -webkit-linear-gradient(#399AFF, #0009B5);
	background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo {
	width: 128px;
	height: 128px;
}